.main {
    margin-bottom: 12px;
    border-radius: 12px;
}
.major {
    background-color: $first;
    color: $light;
    margin-bottom: 12px;
    padding: 12px;
    border-radius: 12px;
}
.major-title {
    padding: 24px 0;
    text-align: center;
}
.articles {
    background-color: $dark;
    color: $light;
    padding: 12px;
    border-radius: 12px;
}
.articles-title {
    font-weight: normal;
    padding: 24px 0;
}
.article {
    margin-bottom: 12px;
    padding: 12px;
    border: 2px solid;
    border-radius: 12px;
}
.article-title {
    font-weight: normal;
}